body{
    background-image: url("blue.png");
}
h1{
    font-family:serif;
    text-transform: uppercase;

}
.content{
    width: 400px;
    top: 50%;
    left:50%;
    margin-top: 200px;
    margin-left: 500px;
    padding: 50px;
    border: 1px solid white;
    text-align: center;
    box-sizing:content-box;
}
button{
    margin: 10px;
    background-color: rgb(43, 95, 206);
}